@{
    Layout = "~/Areas/Usuario/Views/Shared/_LayoutSemLimite.cshtml";
}

<link href="~/Scripts/Css/Pagamentos.css" rel="stylesheet" />
<div class="main">
    <div class="flex-item">
        <h2 class="text-center">Binance Api Error</h2>
        <hr />
        <div class="wrapper-Pagamento">
            <div>
                <p class="desc-pagamento">Houve um Erro ao se conectar com API Binance Contate o Suporte.</p>
            </div>
            <div>
                <img width="100" height="100" src="~/Images/svg/Logo.svg" />
            </div>
        </div>
    </div>
</div>