
@{
    Layout = "~/Areas/Usuario/Views/Shared/_LayoutSemMenu.cshtml";
}

<link href="~/Scripts/Css/Login.css" rel="stylesheet" />
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v1.0.0/css/unicons.css">

<div class="main-wrapper-email">
    <div class="display-email-log">
        <i class='uil uil-envelope'></i>
    </div>
    <div class="text-center desc-email">
        <h2>Confirme seu email</h2>
        <p>Lhe enviamos um email, para confirmar a veracidade do email Solicitado.</p>
        <p>Para dar andamento na recuperaçao de senha é necessario que confirme seu email.</p>
    </div>
    <div>
      <p class="text-center"><a class="doingbtn" href="/usuario/login">Ir para Login</a></p>
    </div>
</div>


