


<link href="~/Scripts/Css/Login.css" rel="stylesheet" />

<div class="main-wrapper-email">
    <div class="display-email-log">
        <i class='uil uil-check'></i>
    </div>
    <div class="text-center desc-email">
        <h2>Seu Email foi confirmado com Sucesso</h2>
    </div>
</div>