@{
    Layout = "~/Areas/Usuario/Views/Shared/_LayoutSemMenu.cshtml";
}


<link href="~/Scripts/Css/Pagamentos.css" rel="stylesheet" />
<div class="main">
    <div class="flex-item">
        <h2 class="text-center">Troca SMTP</h2>
        <hr />
        <div class="wrapper-Pagamento">
            <div class="p-3 text-center">
                <p class="text-white">A troca de SMTP foi um sucesso, Seus clientes serão notificados pelo email</p>
                <h3 class="text-white">@ViewBag.novoemail</h3>
            </div>
            <div>
                <img width="100" height="100" src="~/Images/svg/Logo.svg" />
            </div>
        </div>
    </div>
</div>


