@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>

<div>
 
</div>

<script>



    //$(function () {

    //    $(".btnnow").click(function () {
    //        $.ajax({
    //            url: "/home/test",
    //            method: "GET",
    //            async: false
    //        }).done(function (data) {
    //            console.log(data);   
    //            var obj = JSON.parse(data);
    //            console.log(obj);
    //        }).fail(function (erro) {
    //            console.log(erro);
    //        })
    //    })
    //})

    $(document).ready(function () {
        var test = "testandoss";
    })
</script>