@{
    Layout = "~/Areas/Usuario/Views/Shared/_LayoutSemLimite.cshtml";
}

<link href="~/Scripts/Css/Pagamentos.css" rel="stylesheet" />
<div class="main">
    <div class="flex-item">
        <h2 class="text-center">BNB</h2>
        <hr />
        <div class="wrapper-Pagamento">
            <div>
                <p class="desc-pagamento text-center">Parabéns por comprar BNB, procure sempre manter um pouco de BNB em sua conta</p>
                <p class="desc-pagamento text-center">Suas ordens possuem descontos ao serem pagos com BNB.</p>
            </div>
            <div>
                <img width="100" height="100" src="~/Images/svg/Logo.svg" />
            </div>
        </div>
    </div>
</div>