@{
    Layout = "~/Areas/Usuario/Views/Shared/_LayoutSemLimite.cshtml";
}

<link href="~/Scripts/Css/Pagamentos.css" rel="stylesheet" />
<div class="main">
    <div class="flex-item">
        <h2>Selecione o Metodo de Pagamento</h2>
        <hr />
        <div class="wrapper-metodos-pagamentos">
            @* bitPay *@
            <div class="wrapper-item">
                <div class="text-center">
                    <img src="~/Images/Pagamentos/bitpay.svg" width="150" height="150" />
                </div>
                <div>
                    <p class="valorpagamento">R$ @ViewBag.price</p>
                </div>
                <button id="bitpay-pagamento" class="btn btn-primary"> Pagar </button>
            </div>
            @*pagseguro*@
            <div class="wrapper-item">
                <div class="text-center">
                    <img src="~/Images/Pagamentos/pagseguro.png" width="150" height="150" />
                </div>
                <div>
                    <p class="valorpagamento">R$ @ViewBag.price</p>
                </div>
                <button id="pagseguro-pagamento" class="btn btn-primary"> Pagar </button>
            </div>
        </div>
    </div>
</div>
<script type="module" src="~/Scripts/Bundle/Pagamentos.js?v=@System.Configuration.ConfigurationManager.AppSettings["scriptversion"]"></script>